# Nvidia Driver and CUDA are required for these 2 subnodes
subnode_config {
    # Camera node
    subnodes {
        id: 3
        name: "CameraProcessSubnode"
        reserve: "device_id:front_camera;pb_obj:0;pb_ln_msk_:0;"
        type: SUBNODE_IN
    }
    subnodes {
        id: 4
        name: "Lidar16ProcessSubnode"
        reserve: "device_id:velodyne16;"
        type: SUBNODE_IN
    }
    subnodes {
        id: 31
        name: "FusionSubnode"
        reserve: "pub_driven_event_id:1009;camera_event_ids:1009;lidar_event_id:1013;"
        type: SUBNODE_OUT
    }
    # Visualization node with OpenGL
    subnodes {
        id: 41
        name: "VisualizationSubnode"
        reserve: "vis_driven_event_id:1008;camera_event_id:1008"
    }
}

###################################################################
# Define all edges which link nodes.
edge_config {

    # CameraProcessSubnode -> FusionSubnode
    edges {
        id: 109
        from_node: 3
        to_node: 31
        events {
            id: 1009
            name: "camera_fusion"
        }
    }

    # LidarSubnode -> FusionSubnode
    edges {
        id: 113
        from_node: 4
        to_node: 31
        events {
            id: 1013
            name: "lidar_fusion"
        }
    }
    edges {
        id: 108
        from_node: 3
        to_node: 41
        events {
            id: 1008
            name: "camera_visualization"
        }
    }
}

# Shared Data
data_config {
    datas {
        id: 5
        name: "CameraObjectData"
    }
    datas {
        id: 7
        name: "CameraSharedData"
    }
    datas {
        id: 9
        name: "FusionSharedData"
    }
    datas {
        id: 10
        name: "LidarObjectData"
    }
    datas {
        id: 12
        name: "SceneSharedData"
    }
}
