# Nvidia Driver on host is required for this config
subnode_config {
    # Camera node. publish pb with non-zero int
    subnodes {
        id: 3
        name: "CameraProcessSubnode"
        reserve: "device_id:front_right_side_camera;pb_obj:1;pb_ln_msk_:0;"
        type: SUBNODE_IN
    }
    # Visualization node with OpenGL
    subnodes {
        id: 41
        name: "VisualizationSubnode"
        reserve: "vis_driven_event_id:1008;camera_event_id:1008;camera_device_id:front_right_side_camera"
    }
    # Camera node. publish pb with non-zero int
    subnodes {
        id: 4
        name: "CameraProcessSubnode"
        reserve: "device_id:front_left_side_camera;pb_obj:1;pb_ln_msk_:0;"
        type: SUBNODE_IN
    }
    # Visualization node with OpenGL
    subnodes {
        id: 42
        name: "VisualizationSubnode"
        reserve: "vis_driven_event_id:1011;fusion_event_id:1011;camera_device_id:front_left_side_camera"
    }
    #Fusion sub node
    subnodes {
            id: 31
            name: "FusionSubnode"
            reserve: "pub_driven_event_id:1010;camera_event_ids:1010,1009;"
            type: SUBNODE_NORMAL
    }
}

###################################################################
# Define all edges which link nodes.
edge_config {
	# CameraProcessSubnode -> VisualizationSubnode
    edges {
        id: 108
        from_node: 3
        to_node: 41
        events {
            id: 1008
            name: "camera_visualization_front_right_side_camera"
        }
    }
    # CameraProcessSubnode -> FusionSubnode
    edges {
        id: 109
        from_node: 3
        to_node: 31
        events {
            id: 1009
            name: "camera_fusion"
        }
    }
    # CameraProcessSubnode -> VisualizationSubnode
    edges {
        id: 110
        from_node: 4
        to_node: 42
        events {
            id: 1007
            name: "camera_visualization_front_left_side_camera"
        }
    }
    # CameraProcessSubnode -> FusionSubnode
    edges {
        id: 111
        from_node: 4
        to_node: 31
        events {
            id: 1010
            name: "camera_fusion"
        }
    }
    # CameraProcessSubnode -> FusionSubnode
    edges {
        id: 112
        from_node: 31
        to_node: 41
        events {
            id: 1011
            name: "camera_fusion"
        }
    }
}

# Shared Data
data_config {
    datas {
        id: 90
        name: "CameraObjectData"
    }
    datas {
        id: 91
        name: "CameraSharedData"
    }
    datas {
        id: 92
        name: "SceneSharedData"
    }
    datas {
        id: 93
        name: "FusionSharedData"
    }
    datas {
        id: 94
        name: "LidarObjectData"
    }
    datas {
        id: 95
        name: "RadarObjectData"
    }
    datas {
        id: 96
        name: "LaneSharedData"
    }
}
