# Nvidia Driver on host is required for this config
subnode_config {
subnodes {
    id: 7
    name: "PylonCameraProcessSubnode"
    reserve: "device_id:camera_left;camera_orientation:left;pb_obj:1;pb_ln_msk_:0;"
}

# Visualization node with OpenGL
    subnodes {
    id: 45
    name: "TrackVisualizationSubnode"
    reserve: "vis_driven_event_id:1012;camera_event_id:1012;camera_orientation:left"
}

# Camera node. publish pb with non-zero int
subnodes {
id: 8
    name: "PylonCameraProcessSubnode"
    reserve: "device_id:camera_right;camera_orientation:right;pb_obj:1;pb_ln_msk_:0;"

}

# Visualization node with OpenGL
    subnodes {
    id: 46
    name: "TrackVisualizationSubnode"
    reserve: "vis_driven_event_id:1013;camera_event_id:1013;camera_orientation:right"
}

# Camera node. publish pb with non-zero int
subnodes {
id: 9
    name: "PylonCameraProcessSubnode"
    reserve: "device_id:camera_front;camera_orientation:front;pb_obj:1;pb_ln_msk_:0;"
}

# Visualization node with OpenGL
    subnodes {
    id: 47
    name: "TrackVisualizationSubnode"
    reserve: "vis_driven_event_id:1014;camera_event_id:1014;camera_orientation:front"
}
}

###################################################################
# Define all edges which link nodes.
edge_config {
    edges {
    id: 112
        from_node: 7
        to_node: 45
        events {
        id: 1012
        name: "camera_visualization5"
}
}
    edges {
    id: 113
    from_node: 8
    to_node: 46
    events {
    id: 1013
    name: "camera_visualization6"
}
}
    edges {
    id: 114
    from_node: 9
    to_node: 47
    events {
    id: 1014
    name: "camera_visualization7"
}
}
}

# Shared Data
data_config {
        datas {
        id: 18
        name: "PylonCameraLeftObjectData"
}

    datas {
    id: 19
    name: "PylonCameraLeftSharedData"
}

    datas {
    id: 20
    name: "PylonCameraRightObjectData"
}

    datas {
    id: 21
    name: "PylonCameraRightSharedData"
}

    datas {
    id: 22
    name: "PylonCameraObjectData"
}

    datas {
    id: 23
    name: "PylonCameraSharedData"
}

}

