# Nvidia Driver on host is required for this config
subnode_config {

# Camera node. publish pb with non-zero int
subnodes {
id: 5
name: "PylonCameraProcessSubnode"
reserve: "device_id:camera_right_backwards_side;camera_orientation:right_backwards_side;pb_obj:1;pb_ln_msk_:0;"
}

# Visualization node with OpenGL
    subnodes {
    id: 43
    name: "TrackVisualizationSubnode"
    reserve: "vis_driven_event_id:1010;camera_event_id:1010;camera_orientation:right_backwards_side"
}

# Camera node. publish pb with non-zero int
subnodes {
id: 6
    name: "PylonCameraProcessSubnode"
    reserve: "device_id:camera_left_backwards_side;camera_orientation:left_backwards_side;pb_obj:1;pb_ln_msk_:0;"
}

# Visualization node with OpenGL
    subnodes {
    id: 44
    name: "TrackVisualizationSubnode"
    reserve: "vis_driven_event_id:1011;camera_event_id:1011;camera_orientation:left_backwards_side"
}
}

###################################################################
# Define all edges which link nodes.
edge_config {
    edges {
        id: 110
        from_node: 5
        to_node: 43
        events {
        id: 1010
        name: "camera_visualization3"
    }
}
    edges {
        id: 111
        from_node: 6
        to_node: 44
        events {
        id: 1011
        name: "camera_visualization4"
    }
}
}

# Shared Data
data_config {
        datas {
        id: 14
        name: "PylonCameraLeftBackwardsSideObjectData"
}
    datas {
    id: 15
    name: "PylonCameraLeftBackwardsSideSharedData"
}
    datas {
    id: 16
    name: "PylonCameraRightBackwardsSideObjectData"
}

    datas {
    id: 17
    name: "PylonCameraRightBackwardsSideSharedData"
}

}

