# Nvidia Driver on host is required for this config
subnode_config {
    # Camera node. publish pb with non-zero int
    subnodes {
        id: 1
        name: "CameraProcessSubnode"
        reserve: "device_id:front_camera;pb_obj:1;pb_ln_msk_:0;"
        type: SUBNODE_IN
    }

    # 16-Lidar Input nodes.
    subnodes {
        id: 2
        name: "Lidar16ProcessSubnode"
        reserve: "device_id:velodyne_16;"
        type: SUBNODE_IN
    }

    # Visualization node with OpenGL
    subnodes {
        id: 41
        name: "VisualizationSubnode"
        reserve: "vis_driven_event_id:1008;camera_event_id:1008;camera_device_id:front_camera;camera_event_id:1008"
        type: SUBNODE_OUT
    }

    # Visualization node
    subnodes {
        id: 42
        name: "VisualizationSubnode"
        reserve: "vis_driven_event_id:1011;fusion_event_id:1011;camera_device_id:front_camera;camera_event_id:1009"
        type: SUBNODE_OUT
    }

    # Fusion node.
    subnodes {
        id: 31
        name: "FusionSubnode"
        reserve: "pub_driven_event_id:1001;lidar_event_id:1001;camera_event_ids:1009"
        type: SUBNODE_NORMAL
    }
} 

###################################################################
# Define all edges which link nodes.
edge_config {
	# CameraProcessSubnode -> VisualizationSubnode
    edges {
        id: 108
        from_node: 1
        to_node: 41
        events {
            id: 1008
            name: "front_camera"
        }
    }
     # Lidar16ProcessSubnode -> FusionSubnode
    edges {
        id: 101
        from_node: 2
        to_node: 31
        events {
            id: 1001
            name: "lidar_fusion"
        }
    }

    # CameraProcessSubnode -> FusionSubnode
    edges {
        id: 109
        from_node: 1
        to_node: 31
        events {
            id: 1009
            name: "camera_fusion"
        }
    }

    # FusionSubnode -> VisualizationSubnode
    edges {
        id: 111
        from_node: 31
        to_node: 42
        events {
            id: 1011
            name: "fusion_visualization"
        }
    }
  }

# Shared Data
data_config {
    datas {
        id: 5
        name: "CameraObjectData"
    }
    datas {
        id: 6
        name: "LaneSharedData"
    }
    datas {
        id: 7
        name: "CameraSharedData"
    }
    datas {
        id: 1
        name: "LidarObjectData"
    }
    datas {
        id: 2
        name: "RadarObjectData"
    }
    datas {
        id: 3
        name: "TLPreprocessingData"
    }
    datas {
        id: 4
        name: "SceneSharedData"
    }
    datas {
        id: 9
        name: "FusionSharedData"
    }
}

