<launch>
  <arg name="traffic_short_topic_name" default="/apollo/sensor/camera/traffic/image_short" />
    <arg name="traffic_long_topic_name" default="/apollo/sensor/camera/traffic/image_long" />
    <arg name="perception_obstacle" default="/apollo/perception/obstacle/camera" />
    <arg name="frame_rate" default="20"/>
    <arg name="trigger_internal" default="0" />
    <arg name="trigger_fps" default="20" />

    <group ns="camera_long">
        <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" respawn="true" />
        <node pkg="nodelet" type="nodelet" name="sensor_camera_traffic_long" output="screen"
              args="load pylon_camera/PylonCamNodelet camera_nodelet_manager" respawn="true" >

             <param name="camera_frame" value="pylon_camera" />
             <param name="device_user_id" value="obstacle_left" />
             <param name="frame_rate" value="$(arg frame_rate)" />
             <param name="shutter_mode" value="" />
             <param name="exposure_search_timeout" value="5.0" />
             <param name="auto_exposure_upper_limit" value="2000000.0" />
             <param name="trigger_internal" value="$(arg trigger_internal)"/>
             <param name="trigger_fps" value="$(arg trigger_fps)" />

             <remap from="/camera_long/image_raw" to="$(arg traffic_long_topic_name)" />
             <remap from="/apollo/sensor/camera/traffic/camera_info" to="$(arg traffic_long_topic_name)/camera_info" />
        </node>
    </group>

  <group ns="camera_short">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" respawn="true" />
    <node pkg="nodelet" type="nodelet" name="sensor_camera_traffic_short" output="screen"
          args="load pylon_camera/PylonCamNodelet camera_nodelet_manager" respawn="true" >
               <param name="camera_frame" value="pylon_camera" />
               <param name="device_user_id" value="obstacle_right" />
               <param name="frame_rate" value="$(arg frame_rate)" />
               <param name="shutter_mode" value="" />
               <param name="exposure_search_timeout" value="5.0" />
               <param name="auto_exposure_upper_limit" value="2000000.0" />
               <param name="trigger_internal" value="$(arg trigger_internal)"/>
               <param name="trigger_fps" value="$(arg trigger_fps)" />
      <remap from="/camera_short/image_raw0" to="$(arg traffic_short_topic_name)" />
      <remap from="/apollo/sensor/camera/traffic/camera_info" to="$(arg traffic_short_topic_name)/camera_info" />
    </node>
  </group>

  <!--group ns="camera_obstacle">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" respawn="true" />

    <node pkg="nodelet" type="nodelet" name="sensor_camera_obstacle" output="screen"
          args="load pylon_camera/PylonCamNodelet camera_nodelet_manager" respawn="true" >
             <param name="camera_frame" value="pylon_camera" />
             <param name="device_user_id" value="" />
             <param name="frame_rate" value="$(arg frame_rate)" />
             <param name="shutter_mode" value="" />
             <param name="exposure_search_timeout" value="5.0" />
             <param name="auto_exposure_upper_limit" value="2000000.0" />
             <param name="trigger_internal" value="$(arg trigger_internal)"/>
             <param name="trigger_fps" value="$(arg trigger_fps)" />
      <remap from="/camera_short/image_raw0" to="$(arg perception_obstacle)" />
      <remap from="/apollo/sensor/camera/traffic/camera_info" to="$(arg perception_obstacle)/camera_info" />
    </node>
  </group-->

</launch>


